<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Karkas.CodeGeneration.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <userSettings>
        <Karkas.CodeGeneration.WinApp.Properties.Settings>
              <setting name="SonConnectionStringDegeri" serializeAs="String">
                    <value>Data Source=localhost;Initial Catalog=KARKAS_ORNEK;Integrated Security=True</value>
              </setting>
              <setting name="SonCodeGenerationDizini" serializeAs="String">
                    <value>D:\projects\karkasTrunk\Karkas.Ornek</value>
              </setting>
              <setting name="SonProjectNamespace" serializeAs="String">
                    <value>Karkas.Ornek</value>
              </setting>
        </Karkas.CodeGeneration.WinApp.Properties.Settings>
    </userSettings>
</configuration>
